<h1>Sources</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>City</th>
      <th>Copyright Year</th>
      <th>Web Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.title %></td>
        <td><%= source.author %></td>
        <td><%= source.publisher %></td>
        <td><%= source.city %></td>
        <td><%= source.copyright_year %></td>
        <td><%= source.web_site %></td>
        <td><%= link_to 'Show', source %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sources %>

<br>

<%= link_to 'New Source', new_source_path %>
