<p>
  <strong>Title:</strong>
  <%= @source.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @source.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @source.publisher %>
</p>

<p>
  <strong>City:</strong>
  <%= @source.city %>
</p>

<p>
  <strong>Copyright Year:</strong>
  <%= @source.copyright_year %>
</p>

<p>
  <strong>Web Site:</strong>
  <% if @source.web_site.present? %>
    <% link = @source.web_site.start_with?('http') ? @source.web_site : 'http://'+@source.web_site %>
    <a href="<%= link %>"><%= @source.web_site %></a>
  <% end %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
