<tr>
  <td>
    <% if f.object.rhythm %>
      <%= f.input :name, label: false, :as=>"rhythm" %>
    <% else %>
      <%= f.input :name, label: false %>
    <% end %>
    <%= f.hidden_field :rhythm %>
    <%= f.hidden_field :id %>
  </td>
  <td><%= f.input :prepare, label: false %></td>
  <td><%= f.input :practice, label: false %></td>
  <td><%= f.input :present, label: false %></td>
  <td><%= f.hidden_field :_destroy %><%= button_tag "\u2716", :type=>"button", :class=>"del-concept button" %></td>
</tr>