<table class="show-song">
  <thead class="song-title">
    <tr>
      <th colspan="100"><h1><%= song.title %></h1></th>
    </tr>
  </thead>
  <% if song.image_path.present? %>
    <tr class="notation-image blank-bg">
      <td colspan="100">
        <%= cl_image_tag(song.image_path, :crop => :fill, :width => 800, :class=>"song-image") %>
      </td>
    </tr>
  <% end %>
<% categories.each do |cat| %>
  <thead>
  <tr>
    <th colspan="100"><h5><%= cat.name %></h5></th>
  </tr>
  </thead>
  <tbody>
      <% if cat.name == "Source" %>
        <% if song.source.present? %>
          <% [:title, :author, :publisher, :city, :copyright_year, :web_site].each do |name| %>
            <% if song.source[name].present? %>
              <tr>
                <th><%= name.to_s.humanize %></th>
                <td colspan="99"><%= song.source[name] %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% elsif (cat.name == "Pedagogy") && !(song.concepts.empty?) %>
        <tr><td colspan="99">
          <table id="song_concepts_table" class="show">
            <tbody>
              <tr>
                <th>Concept</th>
                <th>Prepare</th>
                <th>Present</th>
                <th>Practice</th>
              </tr>
              <% song.concepts.each do |c| %>
                <tr>
                  <% if c.rhythm? %>
                    <td class="notation">
                  <% else %>
                    <td>
                  <% end %>
                  <%= c.name %></td>
                  <td><% if c.prepare? %>&#10004;<% end %></td>
                  <td><% if c.present? %>&#10004;<% end %></td>
                  <td><% if c.practice? %>&#10004;<% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td></tr>
      <% end %>
      <% song.field_entries.select{|d| d.field.field_category == cat}.sort_by(&:field_id).each do |datum| %>
        <tr>
          <th><%= datum.field.name %></th>
          <% if datum.field.display_type == "string_set" or datum.field.display_type == "rhythm_set" %>
            <% subdatums = datum.data.split(/;\s*/) %>
            <% if cat.name == "Form" %>
              <% subdatums.each do |d| %>
                <% if datum.field.display_type == "rhythm_set" %>
                  <td class="notation form-set">
                <% else %>
                  <td class="form-set">
                <% end %>
                <%= d %></td>
              <% end %>
              <td class="empty" colspan="<%= 99-subdatums.length %>"></td>
            <% else %>
              <td colspan="99"><table class="set"><tr>
                <% subdatums.each do |d| %>
                  <% if datum.field.display_type == "rhythm_set" %>
                    <td class="notation">
                  <% else %>
                    <td>
                  <% end %>
                  <%= d %></td>
                <% end %>
              </tr></table></td>
            <% end %>
          <% elsif datum.field.display_type == "text" %>
            <td colspan="99"><pre><%= datum.data %></pre></td>
          <% else %>
            <% if datum.field.display_type == "rhythm" %>
              <td  colspan="99"class="notation">
            <% else %>
              <td colspan="99">
            <% end %>
            <%= datum.data %></td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
<% end %>
<% unless song.comments.empty? %>
  <thead>
  <tr>
    <th colspan="100"><h5>Comments</h5></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="100"><pre><%= song.comments %></pre></td>
  </tr>
  </tbody>
<% end %>
<% unless current_user.display_name.nil? or current_user.display_name.empty? %>
  <tfoot>
  <tr class="blank-bg">
    <td colspan="100">From the song collection of <%= current_user.display_name %></td>
  <tr>
  </tfoot>
<% end %>
</table>
