<% if params[:alpha].nil? %>
<h1>Songs</h1>
<% else %>
<h1><%= 'Songs Starting With '+params[:alpha] =%></h1>
<% end %>

<%= search_form_for @q do |f| %>
<div class="input-group">
  <%= f.label :title_cont, :class=>"input-group-label" %>
  <%= f.search_field :title_cont %>
  <div class="input-group-button">
    <%= f.submit :class=>"button" %>
  </div>
  <%= link_to 'Advanced Search', advanced_search_path%>
</div>
<% end %>
<div>
Jump to songs starting with: 
<% ("A".."Z").each do |letter| %>
  <%= link_to letter, songs_by_letter_path(letter) %>
<% end %>
</div>
<hr>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :updated_at) %></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song %></td>
        <td><%= song.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @songs %>

<br>

<%= link_to 'New Song', new_song_path %>
