<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<% @song.field_categories.order(:order).each do |cat| %>
<p>
  <strong><%= cat.name %></strong>
  <table>
    <tbody>
      <% @song.fields.where(field_category: cat).order(:name).each do |fld| %>
        <tr>
          <td><%= fld.name %></td>
          <td><%= fld.data %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= @song.data %>
</p>
<% end %>

<p>
  <strong>Comments:</strong>
  <%= @song.comments %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
