<h1><%= @song.title %></h1>

<% if @song.image_path.present? %>
  <%= cl_image_tag(@song.image_path, :crop => :fill, :width => 800) %>
<% end %>

<table>
<% @categories.each do |cat| %>
  <thead>
  <tr>
    <th colspan="2"><%= cat.name %></th>
  </tr>
  </thead>
  <tbody>
      <% if cat.name == "Source" %>
        <% if @song.source.present? %>
          <% [:title, :author].each do |name| %>
            <% if @song.source[name].present? %>
              <tr>
                <td><%= name.to_s.humanize %></td>
                <td><%= @song.source[name] %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% elsif (cat.name == "Pedagogy") && !(@song.concepts.empty?) %>
        <tr><td>
          <table id="song_concepts_table" class="show">
            <tbody>
              <tr>
                <th>Concept</th>
                <th>Prepare</th>
                <th>Practice</th>
                <th>Present</th>
              </tr>
              <% @song.concepts.each do |c| %>
                <tr>
                  <% if c.rhythm? %>
                    <td class="notation">
                  <% else %>
                    <td>
                  <% end %>
                  <%= c.name %></td>
                  <td><% if c.prepare? %>&#10004;<% end %></td>
                  <td><% if c.present? %>&#10004;<% end %></td>
                  <td><% if c.practice? %>&#10004;<% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td></tr>
      <% end %>
      <% @song.field_entries.select{|d| d.field.field_category == cat}.each do |datum| %>
        <tr>
          <td><%= datum.field.name %></td>
          <% if datum.field.display_type == "rhythm" %>
            <td class="notation">
          <% else %>
            <td>
          <% end %>
          <%= datum.data %></td>
        </tr>
      <% end %>
      </tbody>
<% end %>
</table>

<% unless @song.comments.empty? %>
  <h4>Comments:</h4>
  <p>
    <%= @song.comments %>
  </p>
<% end %>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Create Another', new_song_path %> |
<%= link_to 'Back', songs_path %>
