<div class="hide-for-print floating-edit-button">
<%= link_to 'Edit Song', edit_song_path(@song), :class => "button button-large" %>
</div>

<%= render("song", :song => @song, :categories => @categories) %>

<div class="hide-for-print">
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Create Another', new_song_path %> |
<%= link_to 'Back', songs_path %>
</div>
