<h5>Advanced Search</h5>

<%= form_tag("/advanced_search", method: "get") do %>
  <div class="search_form">
    <table>
      <tbody>
        <%= render("search_fields", :b =>  nil, :f => :f1, :q => :q1) %>
        <%= render("search_fields", :b => :b12, :f => :f2, :q => :q2) %>
        <%= render("search_fields", :b => :b23, :f => :f3, :q => :q3) %>
        <%= render("search_fields", :b => :b34, :f => :f4, :q => :q4) %>
      </tbody>
    </table>
    <%= submit_tag("Search") %>

    <%#= link_to_add_search_fields(f, "#search_form_table", @aq, :text) %>
    <%#= link_to_add_search_fields(f, "#search_form_table", @aq, :rhythm) %>
    <%#= link_to_add_search_fields(f, "#search_form_table", @aq, :tone) %>
  </div>
<% end %>
<hr>
<h6>
  <% if @searchstring.empty? %>
    Search Results
  <% else %>
    Search results for: 
    <% for i in 0...@searchstring.length %>
      <% if i%2==0 %>
        <%= @searchstring[i] %>
      <% else %>
        <span class='notation'><%= @searchstring[i] %></span>
      <% end %>
    <% end %>
  <% end %>
</h6>
<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <% if (@aq.key? :f1) && (@aq[:f1] != 1) %>
        <th><%= @sf[:f1][0] %></th>
      <% end %>
      <% if (@aq.key? :f2) && (@aq[:f2] != 1) %>
        <th><%= @sf[:f2][0] %></th>
      <% end %>
      <% if (@aq.key? :f3) && (@aq[:f3] != 1) %>
        <th><%= @sf[:f3][0] %></th>
      <% end %>
      <% if (@aq.key? :f4) && (@aq[:f4] != 1) %>
        <th><%= @sf[:f4][0] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song %></td>
        <% if (@aq.key? :f1) && (@aq[:f1] != 1) %>
          <td><%= render("display_fields", :s =>  song, :f => @sf[:f1]) %></td>
        <% end %>
        <% if (@aq.key? :f2) && (@aq[:f2] != 1) %>
          <td><%= render("display_fields", :s =>  song, :f => @sf[:f2]) %></td>
        <% end %>
        <% if (@aq.key? :f3) && (@aq[:f3] != 1) %>
          <td><%= render("display_fields", :s =>  song, :f => @sf[:f3]) %></td>
        <% end %>
        <% if (@aq.key? :f4) && (@aq[:f4] != 1) %>
          <td><%= render("display_fields", :s =>  song, :f => @sf[:f4]) %></td>
        <% end %>
      </tr>
    <% end %>
    <% if @songs.empty? && !@searchstring.empty? %>
      <tr>
        <td>No songs found matching search criteria</td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<%= form_tag("/advanced_search/list", method: "get") do %>
  <h6>Make Index Page From Results</h6>
  <%= label_tag(:fields, "Select fields to display:") %>
  <%= select_tag(:fields, options_for_select(@searchfields[1..-1], @default_index_list), {:multiple=>true, :size=>"8"}) %>
  <%= hidden_field_tag(:songs, @songs.map{|s| s.id}.join(',')) %>
  <%= hidden_field_tag(:title, @searchstring.join('\n')) %>
  <%= submit_tag("Go") %>
<% end %>
<br>

<%= link_to 'Back to Index', songs_path %>

<script>
  $(document).ready(function() {
    // *** Mapped keys ***
    $('.rhythm.notation').keyboard(NotationKeyboard.options).addTyping({showTyping : true});
    
    // *** Mapped keys ***
    $('.tones').not('.ui-keyboard-input').keyboard(ToneKeyboard.options).addTyping({showTyping : true});
  });
  
  $( ".field-select" ).change(function() {
    var new_dt = $(this).find(":selected").attr('data-type');
    var edit = $(this).parent().next().children();
    var old_dt = "text";
    if (edit.hasClass("rhythm notation")) {
      old_dt = "rhythm";
    } else if (edit.hasClass("tones")) {
      old_dt = "tone";
    }
    if (new_dt != old_dt) {
      if (old_dt == "rhythm") {
        edit.removeClass("rhythm notation")
      } else if (old_dt == "tone") {
        edit.removeClass("tones")
      }
      if (old_dt != "text") {
        keyboard = edit.keyboard().getkeyboard();
        keyboard.destroy();
      }
      if (new_dt == "rhythm") {
        edit.addClass("rhythm notation")
        edit.keyboard(NotationKeyboard.options).addTyping({showTyping : true});
      } else if (new_dt == "tone") {
        edit.addClass("tones")
        edit.keyboard(ToneKeyboard.options).addTyping({showTyping : true});
      }
    }
  });
</script>
