<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Display Type:</strong>
  <%= @field.display_type.humanize %>
</p>

<p>
  <strong>Field category:</strong>
  <%= @field.field_category.name %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
