<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Kodaly Song Database" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="header">
    <ul class="lmenu">
    <li><strong><%= link_to 'Kodály Song Database', root_path %></strong></li>
    </ul>
    <ul class="rmenu">
    <% if user_signed_in? %>
    <li><%= link_to 'Songs', songs_path %></li> |
    <li><%= link_to 'Advanced Search', advanced_search_path %></li> |
    <li><%= link_to 'Sources', sources_path %></li> |
    <%= render 'devise/menu/registration_items' %> |
    <% end %>
    <%= render 'devise/menu/login_items' %>
    </ul>
    </div>
    
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <div class="content">
    <%= yield %>
    </div>
    <% if current_user %>
      <div class="footer">
        <%= mail_to ENV["GMAIL_USERNAME"] do %>
          <strong>Questions? Issues? Suggestions? Email them all to:</strong> <span><%= ENV["GMAIL_USERNAME"] %></span>
       <% end %>
      </div>
    <% end %>
  </body>
</html>
